body {
    font-family: "Sarabun", sans-serif;
    background-color: #fff9e6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    background-color: #fff3c4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ff9900;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9900;
    color: white;
}

#result {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
}